<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('includes/nav.ejs') %>
    <main>
        <form class="product-form" action="/add-product" method="POST">
            <div class="form-control">
                <label for="product">Add Product</label>
                <input type="text" name="title" id="title" placeholder="Title">
                <button type="submit">
                    <span class="circle1"></span>
                    <span class="circle2"></span>
                    <span class="circle3"></span>
                    <span class="circle4"></span>
                    <span class="circle5"></span>
                    <span class="text">Submit</span>
                </button>
            </div>
           
            
        </form>
    </main>
</body>

</html>