body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main-header {
    width: 100%;
    height: 3.5rem;
    background-color: rgb(10, 51, 10);
}

.main-header__item-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

}

.centered{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.centered h1{
    border-bottom: 1px solid black;
    width: 100%;
    padding-bottom: 5px;
}

.main-header__nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    margin-left: 1rem;
}

.main-header__item {
    margin: 0;
    padding: 0;
}

.main-header__item a {
    text-decoration: none;
    color: honeydew;
    padding: 1rem;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
    color: gold;
}

main {
    margin-top: 3.5rem;
    padding: 1rem;
}

.product-list {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.product-item {
    border: none;
    margin: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: teal;
}

.product-item img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.product-item img:hover {
    transform: scale(1.01);
    transition-duration: 0.5s;
}

.product-item h3 , .product-item h4 {
    margin: 0;
    width: 90%;
}

.product-item h3 {
    color: honeydew;
    padding: 0 0 0 0.5rem;
}
.product-item h4 {
    color: gold;
    padding: 0.2rem 0 0.5rem 0;
}

.CartBtn {
    width: 140px;
    height: 40px;
    border-radius: 12px;
    border: none;
    background-color: gold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: .5s;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
    margin-bottom: 1rem;
  }
  
  .IconContainer {
    position: absolute;
    left: -50px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: .5s;
  }
  
  .icon {
    border-radius: 1px;
  }
  
  .text {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(17, 17, 17);
    z-index: 1;
    transition-duration: .5s;
    font-size: 1.04em;
    font-weight: 600;
  }
  
  .CartBtn:hover .IconContainer {
    transform: translateX(58px);
    border-radius: 40px;
    transition-duration: .5s;
  }
  
  .CartBtn:hover .text {
    transform: translate(10px,0px);
    transition-duration: .5s;
  }
  
  .CartBtn:active {
    transform: scale(0.95);
    transition-duration: .5s;
  }

